<style>

.vote-up{
    display: inline-block;
    margin: 5px;

}

.vote-down{
    display: inline-block;
    margin: 5px;
}
</style>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <li class="list-group-item">
        <div class="lead">{{post.title}}</div>
        <a href="{{post.url}}" target="_blank">{{post.url}}<a>
        <div class="text-right">
          <a href="/n/{{post.subreddit}}">{{post.subreddit}}<a>
        </div>
        <div id="post-score">{{post.voteScore}}</div>
        <form class="vote-down form-inline" data-id="{{post._id}}">
          <button type="submit" class="btn btn-light">Vote Down</button>
        </form>
        <form class="vote-up form-inline" data-id="{{post._id}}">
          <button type="submit" class="btn btn-light">Vote Up</button>
        </form>

      </li>

  </div>
</div>

<form method="POST" action="/posts/{{post._id}}/comments">
    <div class="form-group">
      <label for="Comment">Comment</label>
      <textarea name="content" class="form-control" id="comment-content" placeholder="Comment"></textarea>
    </div>

  <div class="text-right">
    <button type="submit">Save</button>
  </div>
</form>

{{#each post.comments}}
<li class="list-group-item">
    <a href="/comments/{{this._id}}/new">Comment</a>
    <p>{{this.content}}</p>
    {{#if this.comments}}
        {{> comments}}
    {{/if}}
</li>
{{/each}}
